* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
}

.col-centered {
  float: none;
  margin: 0 auto;
  text-align: center;
}

.status, .most-productive {
  color: white;
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 2em;
}

.chart {
  background-color: white;
}

/*
* Status Blink
*/

.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: ease;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.blinkOff {
  opacity: 1.0;

}